  body { margin: 0; font-family: Arial, sans-serif; }

    .contenido {
  background-color: #f5f5f5; 
  min-height: 100vh; 
  padding: 0; 
}

/* =========================
EDITOR DE TEXTO MODAL
========================= */

#editor-texto-modal{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:white;
    padding:20px;
    border-radius:12px;
    z-index:99999;
    width:320px;
    box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

#editor-texto-modal h3{
    margin-top:0;
}

#editor-texto-modal input,
#editor-texto-modal select{
    width:100%;
    margin-top:5px;
    margin-bottom:15px;
}


.contenido p {
  color: #ffffff; 
  font-size: 16px;
  line-height: 1.8; 
  margin-bottom: 15px; 
}


.contenido h2 {
  color: #ffffff; 
  font-weight: 700;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3); 
}

    #custom-context-menu {
      display: none;
      position: absolute;
      z-index: 9999;
      background: white;
      border: 1px solid #ccc;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 5px 0;
      font-family: 'Segoe UI', sans-serif;
      font-size: 14px;
      min-width: 150px;
    }

    #custom-context-menu div {
      padding: 8px 15px;
      cursor: pointer;
      color: #580420;
      transition: background 0.2s;
    }

    #custom-context-menu div:hover {
      background-color: #f0f0f0;
      color: #af1146;
    }

    #custom-context-menu div.separador {
      height: 1px;
      background: #eee;
      margin: 5px 0;
      padding: 0;
      cursor: default;
    }

    #custom-context-menu div span.icon {
      margin-right: 8px;
      font-weight: bold;
    }

    .resize-handle {
      width: 10px;
      height: 10px;
      background: #db3482;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: nwse-resize;
      border-radius: 0 0 4px 0;
    }
    
    .layout { display: flex; min-height: 100vh; }
    .sidebar { width: 250px; background-color: #000000; color: rgb(248, 230, 236); padding: 20px; display: flex; flex-direction: column; gap: 10px; }
    .sidebar h2 { text-align: center; border-bottom: 1px solid #333; padding-bottom: 10px; }
    .sidebar a { text-decoration: none; color: rgb(75, 16, 25); padding: 10px; background-color: rgb(165, 30, 75); border-radius: 4px; transition: background 0.3s; cursor: pointer; display: block; text-align: center; }
    .sidebar a:hover { background-color: #d7b5bd; }
    .contenido { flex-grow: 1; padding: 40px; background-color: #520d25; color: rgb(248, 230, 236); display: flex; flex-direction: column; }
    .seccion-historial { display: none; animation: fadeIn 0.4s ease; background-color: #000000; padding: 15px; border-radius: 8px; border: 1px solid #af1146; margin-top: 10px; }
    .seccion-historial.activa { display: block; }
    .tarjeta { background: white; padding: 15px; margin-bottom: 10px; border-radius: 6px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); border-left: 5px solid #af1146; color: #333; }
    .btn { text-decoration: none; color: rgb(107, 33, 42); background-color: #d7b5bd; padding: 12px; border-radius: 6px; text-align: center; cursor: pointer; transition: all 0.3s ease; border: none; font-size: 16px; display: block; }
    .btn:hover { background-color: #97344d; transform: translateX(5px); }
    #editor-pantalla { display: none; height: 100vh; flex-direction: column; }
    .toolbar { background: #333; color: white; padding: 10px 20px; display: flex; gap: 10px; align-items: center; border-bottom: 2px solid #af1146; }
    .tool-btn { background: #555; border: none; color: white; padding: 8px 15px; border-radius: 4px; cursor: pointer; font-size: 14px; }
    .tool-btn:hover { background: #777; }
    .tool-btn.save { background: #27ae60; }
    .tool-btn.add-img { background: #2980b9; }
    #canvas { flex-grow: 1; position: relative; background: white; overflow: hidden; cursor: default; }
    .editable-item { position: absolute; cursor: move; border: 2px dashed transparent; padding: 5px; user-select: none; }
    .editable-item:hover { border: 2px dashed #3498db; }
    .editable-text { min-width: 100px; min-height: 20px; font-size: 18px; color: #333; outline: none; }
    .instrucciones { position: absolute; bottom: 20px; right: 20px; background: rgba(0,0,0,0.7); color: white; padding: 10px; border-radius: 5px; font-size: 12px; pointer-events: none; }
    #pantalla-bienvenida { display: flex; justify-content: center; align-items: center; height: 100vh; background: #000; z-index: 1000; }
    .btn-crear { padding: 15px 40px; font-size: 24px; background: #920a3e; color: white; border: none; border-radius: 50px; cursor: pointer; box-shadow: 0 4px 15px rgba(0,0,0,0.3); transition: transform 0.2s; }
    .btn-crear:hover { transform: scale(1.05); }
    

    #color-picker { display: none; position: absolute; top: 60px; left: 20px; background: white; padding: 15px; border-radius: 8px; box-shadow: 0 4px 15px rgba(0,0,0,0.3); z-index: 1000; border: 1px solid #ccc; }
    .color-option { width: 30px; height: 30px; border-radius: 50%; display: inline-block; margin: 5px; cursor: pointer; border: 2px solid white; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
    .color-option:hover { transform: scale(1.1); border-color: #333; }